/* GENERAL STYLES
-----------------------------------*/
html, body {
  overflow-x:hidden;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #131f33;
  background-position: 0 -2%;
  background-repeat: no-repeat;
  background-size: cover;
}

strong {
  font-weight: 600;
}

h1{
  font-size: 2.5em;
  color: #fff;
  font-weight: 300;
}
h3 {
  font-size: 1.7em;
  color: #fff;
}
h4 {
  font-size: 1.2em;
  color: #fff;
}

/* COLORS
-------------------------------------*/
.is-white {
  background-color: #fff;
}

.is-illiniBlue {
  background-color: #131f33;
}

.is-illiniBlueShade {
  background-color: #37445a;
}

.is-illiniBlueShade2 {
  background-color: #081222;
}

.is-illiniOrange {
  background-color: #fa6300;
}

.is-illiniOrangeShade {
  background-color: #ff8637;
}

/* PAGE
--------------------------*/
.nav {
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-image: none;
  z-index: 4;
}

.nav-logo {
  float: left;
  display: inline-block;
  height: 45px;
  padding-left: 10px;
  margin-top: 8px;
}

.nav-items a{
  float: right;
  display: inline-block;
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

.hamburgerIcon a{
  display: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.landingPage {
  text-align: center;
}

.heroText {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 8%;
  z-index: 1;
}

.heroTitle {
  font-size: 6em;
  color: #131f33;
  font-weight: 600;
}
.heroTitle span {
  color: #fa6300;
}
.sub {
  font-size: 4em;
  font-weight: normal;
  margin-top: -30px;
}

.heroImage {
  height: 100vh;
  position: relative;
  background: url(../images/fsae2017_lincoln_car2_e_c.jpg) center center;
  background-size: cover;
  z-index: 0;
}

.sponsors {
  text-align: center;
  padding: 10px 20px;
  padding-bottom: 20px;
}

.background_line {
  text-align: center;
  position: relative;
  z-index: 1;
}

.background_line:before {
  content: "";
  z-index: -1;
  margin: 0 auto;
  position: absolute;
  border-top: 1px solid #fff;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
}

.background_line span {
  padding: 0 15px;
  z-index: 10;
}

.sponsorsImg {
  display: inline-block;
  padding-top: 10px;
}

.teamOverall {
  margin: 0 auto;
  max-width: 1000px;
}

.teamTitle {
  padding-bottom: 10px;
  text-align: center;
}

.team {
  text-align: center;
  padding: 10px 0;
}

.member {
  padding-bottom: 10px;
}

.centerRow {
  display:inline-block;
  float:none;
}

.card {
  max-width: 300px;
  height: auto;
  margin-top: -10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.teamName {
  font-weight: 300;
}

.teamMemberTitle {
  font-weight: 200;
}

/* MOBILE PAGE ---------------------------- */

@media screen and (max-width:612px) {
  .nav-logo {
    height: 43px;
    padding-bottom: 8px;
  }
  .nav-items a{
    display: none;
  }
  .hamburgerIcon a{
    display: inline-block;
    position: absolute;
    right: 0;
    top: -5px;
  }

  .nav-items.responsive {
    display: block;
    margin-top: 50px;
    background-color: rgb(55,68,90);
  }
  .nav-items.responsive a {
    float: none;
    display: block;
    text-align: center;
    /* FULL WIDTH EXPAND */
    margin: 0 -9999px;
    /* add back negative margin value */
    padding: 14px 9999px;
  }

  .heroText {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 25%;
    z-index: 1;
  }
  .heroTitle {
    font-size: 3em;
    color: #131f33;
    font-weight: 600;
  }
  .heroTitle span {
    color: #fa6300;
  }
  .sub {
    font-size: 2em;
    font-weight: normal;
    margin-top: 0px;
  }
}

@media screen and (max-height:600px) and (orientation:landscape) {
  .heroText {
    width: 100%;
    margin-top: 9%;
  }
  .heroTitle {
    font-size: 3em;
  }
  .sub {
    font-size: 2em;
    font-weight: normal;
    margin-top: -20px;
  }
}
